  
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
.idea/
out/
*.ipr
*.iml
*.iws

# Gradle
.gradle/
build/

# Deobf
remapped deobf/

# Minecraft folder
run/

# The wrapper jar is committed despite the *.jar rule above - rsl/gradlew needs it,
# and the root build drives this project through its own wrapper.
!gradle/wrapper/gradle-wrapper.jar